@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url('../fonts/source-sans-3/SourceSans3.woff2') format('woff2');
}

@font-face {
    font-family: 'remixicon';
    src: url('../fonts/remixicon/remixicon.woff2') format('woff2');
    font-display: swap;
}