@font-face {
    font-family: "Source Sans 3", sans-serif;
    src: url('../fonts/source-sans-3/SourceSans3-VariableFont_wght');
    font-style: normal;
}

@font-face {
    font-family: 'remixicon';
    src: url('../fonts/remixicon/remixicon.woff2') format('woff2');
    font-display: swap;
}