input[type="text"],
input[type="password"],
input[type="email"] {
    border: solid var(--border-colour) 1px;
    border-radius: var(--border-radius);

    height: 26px;
    padding: 4px 12px;

    box-shadow: var(--default-shadow);
    font-size: var(--mini-font-size);

    text-align: left;

    &:focus {
        border-color: var(--border-colour-active) !important;
    }
}

input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 0.1s transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary-colour);

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

form {
    width: 100%;

    span {
        color: red;
        font-size: .8em;
        text-align: left;
    }
}