input {
    border: solid var(--border-colour) 1px;
    border-radius: var(--border-radius);

    height: 26px;
    padding: 4px 12px;

    box-shadow: var(--default-shadow);
    font-size: var(--mini-font-size);

    text-align: left;

    &:focus {
        border-color: var(--border-colour-active) !important;
    }
}

form {
    width: 100%;

    span {
        color: red;
        font-size: .8em;
        text-align: left;
    }
}