@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'icons.scss';
@import 'form.scss';
@import 'button.scss';
@import 'custom.scss';

body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
}