@use 'reset.scss';
@use 'variables.scss';
@use 'fonts.scss';
@use 'icons.scss';
@use 'form.scss';
@use 'button.scss';
@use 'custom.scss';
@use 'link.scss';
@use 'table.scss';
@use 'utils.scss';
@use 'xterm.scss';

body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
    font-size: var(--normal-font-size);

    overflow: hidden;
}