h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

input {
    all: unset;
}

button {
    all: unset;
}

a {
    all: unset;
}

table {
    all: unset;
}

th {
    all: unset;
}

td {
    all: unset;
}