/* semantic color variables for this project */
:root {
  --color-background: white;
  --color-text: black;

  --primary-colour: #000000;
  --secondary-colour: #4b3fb2;

  --warning-colour: #ffcf4a;
  --error-colour: #ff4a4a;

  --hover-colour: #3a3a3a27;

  --primary-text-colour: white;
  --secondary-text-colour: white;

  --font-size: 15.5px;
  --small-font-size: 0.9em;
  --mini-font-size: 0.875em;

  --border-radius: 4px;
  --border-colour: #ccc;
  --border-colour-active: #3a3a3a;

  --default-shadow: 2px 2px 2px 0px #e9e9e9cc
}